/**
 * @file
 * Admin styling.
 */

.form-type-points-type .form-type-point-number, .form-type-points-type .form-type-select {
    display: inline;
}

.form-type-points-type .form-type-select select {
    padding-bottom: 0.4em;
}
